<div class="container">
    <footer class="footer">

        <div class="footear__lang">
            <ul class="footer__lang-list">
                <li class="footear__lang-item footear__lang-item--current"><a href="#">English</a></li>
                <li class="footear__lang-item"><a href="#">Russian</a></li>
            </ul>
        </div>

        <div class="footer__contacts">
            <div class="footer__contacts-block">
                <h3>Switzerland</h3>
                <p>Attracti S.a.r.l</p>
                <p>Chemin de Champ-Blanchon 55 1422 Grandson</p>
            </div>
            <div class="footer__contacts-block">
                <h3>Ukraine</h3>
                <p>OOO Solid Cube</p>
            </div>

            <p class="footer__condition">Terms of use</p>
        </div>

        <div class="footer__nav">
            <div class="footer__nav-block">
                <h3>ATTRACI VF</h3>
                <a href="#">Corporate news</a>
                <a href="#">Founders</a>
                <a href="#">Dev.journal</a>
            </div>
            <div class="footer__nav-block">
                <h3>GAMES</h3>
                <a href="#">Attracti cards</a>
                <a href="#">Cyber M3</a>
                <a href="#">Stone world</a>
            </div>
            <div class="footer__nav-block">
                <h3>SAAS</h3>
                <a href="#">Digital.ERP</a>
                <a href="#">Solidcube.tech</a>
            </div>
            <div class="footer__nav-block">
                <h3>LABS</h3>
                <a href="#">Calign</a>
                <a href="#">EXPLA</a>
            </div>
        </div>

</div>
</footer>