<header class="header">
    <div class="container">
        <div class="header__background">
            <div class="header__video-block">
                <div class="header__video-layout"></div>
                <video src="img/video.mp4" poster="img/video-bg-1.png"></video>
                <p>Video games playing with imagination </p>
            </div>
            <div class="header__video-block">
                <div class="header__video-layout"></div>
                <video src="img/video.mp4" poster="img/video-bg-2.png"></video>
                <p>Microsoft patch management for home users</p>
            </div>
            <div class="header__video-block ">
                <div class="header__video-layout "></div>
                <video src="img/video.mp4 " poster="img/video-bg-3.png ">For women only your computer usage could cost you your job</video>
                <p>Dealing with technical support 10 useful tips</p>
            </div>
            <div class="header__video-block ">
                <div class="header__video-layout "></div>
                <video src="img/video.mp4 " poster="img/video-bg-4.png "></video>
                <p>Dealing with technical support 10 useful tips</p>
            </div>
        </div>
        <nav class="header__nav ">
            <ul class="header__nav-list ">
                <li class="header__nav-item ">
                    <a href=" ">Labs</a>
                </li>
                <li class="header__nav-item ">
                    <a href="/games.html">Games</a>
                </li>
                <li class="header__nav-item ">
                    <a href=" ">Software</a>
                </li>
                <li class="header__nav-item ">
                    <a href=" ">Founders</a>
                </li>
                <li class="header__nav-item ">
                    <a href=" ">Tour</a>
                </li>
            </ul>
        </nav>
        <a href="/" class="header__link-to-main"><img src="img/link-to-main.svg" alt=""></a>
        <h1 class="header-logo">Attracti vf</h1>

    </div>
</header>