.footer {
    background: #612090;
    color: white;
    padding: 35px 0 58px 26px;
    display: flex;
    align-items: stretch;
    margin-top: 45px;
}

.footear__lang {
    width: 196px;
    line-height: 36px;
    font-weight: 600;
    font-size: 12px;
    overflow: hidden;
    height: 36px;
}

.footer__lang-list {
    display: flex;
    flex-direction: column;
    padding: 2px 0 0 5px;
}

.footear__lang-item {
    order: 1;
}

.footear__lang-item.footear__lang-item--current {
    order: 0;
}

.footear__lang-item.footear__lang-item--current a::after {
    content: "";
    border: 3px solid transparent;
    border-top: 6px solid white;
    position: absolute;
    margin: 15px 0 0 9px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    padding: 8px 72px 0 0;
}

.footer__contacts-block {
    width: 180px;
    padding-bottom: 9px;
}

.footer__contacts-block h3 {
    font-size: 12px;
    font-weight: 600;
    line-height: 26px;
    padding-bottom: 5px;
}

.footer__contacts-block p {
    font-size: 12px;
    opacity: 0.8;
    line-height: 17px;
    font-weight: 300;
    padding-bottom: 7px;
}

.footer__condition {
    font-size: 12px;
    line-height: 26px;
    margin: auto 0 0 0;
    padding-bottom: 6px;
}

.footer__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 505px;
    justify-content: space-between;
    padding: 9px 0 0;
}

.footer__nav-block {
    width: 115px;
    padding-right: 53px;
    padding-bottom: 27px;
}

.footer__nav-block:last-of-type {
    padding-bottom: 0;
}

.footer__nav-block h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
    padding-bottom: 12px;
    letter-spacing: 0.4px;
}

.footer__nav-block a {
    font-size: 15px;
    line-height: 26px;
    padding-bottom: 6px;
    display: block;
}